@{
 //  Layout = "_Layout2";   //  instrução q identifica o 'layout' alternativo
   ViewData["Title"] = "Home Page";
}



<!-- Masthead-->
<header class="masthead">
   <div class="container">

      <div class="masthead-subheading">Bem vindo à nossa Clínica Veterinária</div>
      <div class="masthead-heading text-uppercase">Gostamos muito de o ter por cá...</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" asp-action="Index" asp-controller="Veterinarios">Listar veterinários</a>

   </div>
</header>

